/* .Image {
    width: 300px;
    height: auto;
    
}
.displaynannies{
    margin-left: 38%;
    color:crimson;
    font-size: 25px;
    font-weight: 200px;
    padding-top: 28px;
}
#displaytitle{
    margin-left: -14%;

}
#displaybtn{
    padding:3px;
    background-color:teal;
    border-radius: 8px;
    font-size: 15px;
    color:white;
    padding:5px 5px;
} */

.card:hover{
    -webkit-box-shadow: 5px 5px 15px -3px #000000; 
    box-shadow: 5px 5px 15px -3px #000000;
    transition: 0.5s;
}

.card-body img {
    height: 300px;
}

.btn2 {
    background-color: teal;
    border: none;
    outline: none;
    border-radius: 25px;
    color: #f1f1f1;
    width: 50%;
    height: 40px;
    font-weight: 600;
}

.btn2:hover{
    background-color: #005c5c;
}
