#title-nanny{
    color :Salmon;
    font-size: 50px;
    margin-left: 530px;
    padding-top: 20px;

}
#welcome{
    font-style: italic;
    color: DarkSlateGray;
    margin-left: 30px;
    padding: 16px 16px 20px 16px;

}
#first-image{
    width: 742px;
    margin-left: 300px;
    margin-bottom: 30px;
}

#family-support{
    color: teal;
    margin-left: 45px;
}
#cere{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}