
/*       Part1     */

#title-parent{
    color :Salmon;
    font-size: 50px;
    margin-left: 530px;
    padding-top: 30px;

}
#parents-welcome{
    font-style: italic;
    color: DarkSlateGray;
    margin-left: 30px;
    padding: 25px 16px 20px 16px;
}

#first-image-parent{
    width: 742px;
    margin-left: 300px;
    margin-bottom: 30px;
}

/*    Part2   */
#big-subtitleparent{

}
#little-subtitle-parent{

}
#paragraph-subt{

}

#paragraph-parent{

}

#image2{

}
#image3{

}
#lastsentense{

}
#lastsentense2{

}



