@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
*{
    margin:0 ;
    padding:0;
}
header {
    background-color:white;
    background-size: cover ; 
    background-position: center;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f39cd2;
  
}
.navbar{
    display: flex;
    padding: 20px;
}

nav{
    flex :1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type:none ;

}
nav ul li {
    display: inline-block;
    margin: auto;
    margin-right: 60px;

}
a{
    text-decoration: none;
    color:#5e0957;
}
.logo {
    widows: 150px;
    height: auto;
    float: left;
    width: 200px;
    margin-top:1;
    margin-right: 50%;

}