


body{
    background-color :rgb(241, 234, 241);
}
#title{
    margin-top: 20px;
    margin-left: 12%;
    font-size: 270%;
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    margin-left: 45%;
}
#exceptional{
    margin-left:-47px ;
    font-style: italic;
    color: DarkSlateGray;
    font-size: 35px;
}
#imageCentreA{
    margin-left:31%;
}
#forpar{
    margin-left: 7%;
}
#fornan{
    margin-left:4% ;
}
.partone{
margin-left:42% ;
}

#test{
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
.imageLeft{
margin-left: 40px;

}
#forfam{
   /*  margin-left: 60%;
     margin-top: -80px;*/
}


