


body{
    background-color :rgb(241, 234, 241);
}

.cover{
    background: url(../images/baby-sitter.jpg)no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
}

.btn0{
    height: 45px;
    width: 30%;
    background-color: khaki;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: 700;
    color: 	#484848;
}

.btn1{
    height: 55px;
    width: 45%;
    background-color: khaki;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: 700;
    color: 	#484848;
    font-size: 28px;
}

.btn0:hover{
    background-color: #CC9933;
}

.btn1:hover{
    background-color: #CC9933;
}

.title {
    color: rgb(196, 10, 47);
}
/* #title{
    margin-top: 20px;
    margin-left: 12%;
    font-size: 270%;
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-up{
    padding:30px 30px;
}
.btn{
    margin-left: 38%;
    font-size: 160%;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 60px 10px 60px;
    background-color: rgb(196, 10, 47);
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 70px;
}
#btn-parent{
    padding:6px;
    background-color:khaki;
    border-radius: 8px;
    font-size: 20px;
    color:DarkSlateGray;
}
#btn-nanny{
    padding:6px;
    background-color:khaki;
    border-radius: 8px;
    font-size: 20px;
    color: DarkSlateGray;
    margin-left: 20px
} */
/* #exceptional{
    margin-left:-47px ;
    font-style: italic;
    color: DarkSlateGray;
    font-size: 35px;
} */
/* #imageCentreA{
    margin-left:31%;
} */
/* #unique{
    color: rgb(3, 107, 107);
    margin-left: 400px;
    padding: 30px 30px;
    font-family: Arial, Helvetica, sans-serif;

} */
/* .sub-title{
    margin-left: 20px;
    font-size: 30px;
    color: rgb(231, 75, 47);
    padding: 12px 12px;
} */




/* #We-paragraph{
    margin-left: 15px;
    font-size: 20px;
    font-style: italic;

}
#imageCentreB{
    width: 50px;
    width: 496px;
    margin-left: 170px;
    padding: 6px 30px;
    
}
#to-be-a-nanny{
    color:rgb(3, 107, 107);
    margin-left: 350px;
    padding: 30px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
#titletobenanny{
margin-left: 560px;
    padding: 20px 20px;
    font-size: 25px;
    color: salmon;
} */



/* .partone{
margin-left:42% ;
} */



/* #imageLast{
    margin-left: 320px;
    display: inline-block;
    vertical-align: middle;
    max-width: 45%;
    height: auto;
}
.imageMiddle{
margin-left: 570px;
margin-top: 40px;
}
#imageLast{
    margin-left: 360px;
}
#tittleWeParagraph{
    color:rgb(230, 212, 55);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    padding-top: 25px;
    font-size: 25px;
}
.WeParagraph{
    font-style: italic;
    color: rgb(5, 48, 48);
    margin-left: 14px;
    font-size: 19px;
    padding: 8px 14px;
}

#family-title{
    font-size: 36px;
    margin-left: 565px;
    color: salmon;
    margin-top: 30px;
    margin-bottom: 10px;
}
#datenight{
    color:teal;
    margin-left: 200px;
    padding: 30px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
} */

