#logintitle{
    margin-top: 50px;
    margin-left: 42%;
    color: crimson;
    font-size: 40px;
}

.form{
    margin-top: 40px;
    size: 70px;
    margin-left: 43%;
}
#login-form{
    margin : 14px 14px;
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: -40px;
    margin-bottom: 20px;
}
#login-btn{
    padding:20px;
    background-color: teal;
    border-radius: 8px;
    margin-top: 48px;
    font-size: 25px;
    color:white;
    margin-left: -12px;
}
