.Parentform {
    margin-left: 40%;   
    margin-top: 55px;
}
#middle{
    margin-left: 40%;
    margin-top: 20px;

}
#titleform{
    margin-top: 16px;
    margin-left: 330px;
    font-size: 270%;
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
}
#subtitletwo{
    margin-left: 58%;
    margin-top: 40px;
    color :Salmon;
    font-size: 26px;
}
#subtitleone{
    margin-left: 37%;
    margin-top: 20px;
    font-size: 30px;
    color:Teal;
}
#register{
    margin : 14px 14px;
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.btnregister{
    padding:20px;
    background-color: teal;
    border-radius: 8px;

}