/* .img{
    width: 50px;
    width: 496px;
    margin-left: 350px;
    padding: 40px 30px;
    
}
.Container{
    margin-left: 70px;
    font-size: 30px;

}



.name .email .phoneNumber .region .free {

    margin-left: 15px;
    font-size: 20px;
    font-style: italic;
} */
