.Selection{
    background-color: #BEBEBE;
    border-radius: 8px;
} 

.label{
    color: teal;
    font-size: 20px;
}

.btn3 {
    
    background-color: khaki;
    border: none;
    outline: none;
    border-radius: 25px;
    color: #484848;
    width: 30%;
    height: 40px;
    font-weight: 700;
}

.btn3:hover{
    background-color: #CC9933;
}

.input{
    width: 50%;
    height: 35px;
    border: 2px solid #A9A9A9;
    outline: none;
    color: #484848;
    font-weight: 600;
}